.uNotices-wrap { position:fixed; top:0; left:0; width:100%; height:0px; overflow:visible; z-index: 999999; }
.uNotices { width:600px; margin: 0 auto; background:black; 
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	overflow:hidden;
}
.uNotices .uNotice {
	display:block;
	padding: 1px 10px;
	margin:0;
	
	-moz-box-shadow: inset 0px -3px 8px 0px rgba(0, 0, 0, 0.6);
	-webkit-box-shadow: inset 0px -3px 8px 0px rgba(0, 0, 0, 0.6);
	box-shadow: inset 0px -3px 8px 0px rgba(0, 0, 0, 0.6);
	
	text-align:center;

	font-size: 16px; padding:0.5em 2em 1em 2em; color:white;
	border-top:none !important;
}

.uNotices .uNotice.uNotice-info {
	background-color:#26A9F3;
	border:1px solid #1773A7;
}

.uNotices .uNotice.uNotice-warning {
	background-color:#E9A326;
	border:1px solid #976C20;
}

.uNotices .uNotice.uNotice-error {
	background-color:#F32626;
	border:1px solid #7A1919;
}
