.uNotices { overflow:hidden; }
.uNotices .uNotice {
	display:block;
	padding: 1px 10px;
	border-radius: 10px;
	margin:0.1em;
}
.uNotices .uNotice p { font-size: 12px; padding:0.5em 0; margin:0; color:black; }

.uNotices .uNotice.uNotice-info {
	background-color:#d0e5f5;
	border:1px solid #4297d7;
}

.uNotices .uNotice.uNotice-warning {
	background-color:#f9fbb1;
	border:1px solid #FAD42E;
}

.uNotices .uNotice.uNotice-error {
	background-color:#feecec;
	border:1px solid #CD0A0A;
}
