body.centerWrap { text-align:center }
div.centerWrap { width: 950px; margin: 0 auto; position: relative; text-align:left }

.left { float:left } .right { float:right } .oh { overflow:hidden }
.cl { clear:left } .cr { clear:right } .cb { clear:both }
.aw { width:auto }

.datalist th {
	vertical-align: top; background-color:#DDDDDD; border: 1px solid #BBBBBB; padding: 6px 4px; font-size:1.2em;
	border-radius: 5px 5px 0px 0px;
}
.datalist th.light { background-color:#eee;border-color:#DDD }
.datalist th .uFilter { float:left; margin:2px;}
td { vertical-align: top }

th.sortable { cursor:pointer; }

.utopia-filter-default { color: #AAA; }
*:focus { outline: 1px; }

.btn { margin:1px 3px }
.btn-edit { margin:0;width:16px;height:16px;padding:2px;background:url(images/edit.png) no-repeat center center white !important; }
.btn-del  { margin:0;width:16px;height:16px;padding:2px;background:url(images/delete.png) no-repeat center center white !important; }

img { border: none }

.ui-widget { font-size:0.8em !important; }
.ui-tabs-panel { font-size: 1.2em }
.ui-button .ui-button-text { line-height:normal; }

.ui-icon { display: inline-block !important; }

.ui-helper-clearfix:after { }
.ui-helper-clearfix {
        overflow: hidden; /* or auto */
        zoom: 1; /* required for ie hasLayout */
}

.shadeRow { background-color:#e0e0e0; }
.new-ident { background-image:url(images/newrec-ident.gif); background-position:center; background-repeat:no-repeat; width:25px}

ul.pagination { overflow:hidden; padding:0; }
ul.pagination li { list-style:none; float:left; }

.mr10 { margin-right:10px }
.ml10 { margin-left:10px }

.linklist { padding-left:0 }

.linklist LI {
	list-style:none;
	display:inline;
}

.layoutListSection .linklist,.layoutListSection .linklist-link {
	list-style: none;
	display: inline;
}

.layoutListSection td { vertical-align:middle; padding:4px; }
.layoutDetailSection,.layoutListSection {
	/*margin: 10px;*/
	padding: 5px;
	vertical-align: top;
	text-align: left;
	font-family: 'Tahoma', Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 1em;
}

.layoutDetailSection tr th {
	font-size: 1.1em !important;
	color: #FFFFFF;
	padding-left: 5px;
	height: 15px;
	background-color: #FF9933;
	background-repeat: repeat-x;
}

.layoutDetailSection td.fld { white-space:nowrap; width:1px; padding-right:10px; font-weight:normal; text-align:right; vertical-align:middle }

.layoutDetailSection .inputtype-text { width: 30%; min-width: 10em; }
.layoutDetailSection .inputtype-richtext { width: 80%; min-width: 15em; }

.red {
	color: #f00
}

.uSearch .searchResult a { padding-bottom: 5px; font-size:1.1em }
.uSearch .searchResult { margin-bottom: 30px; }
