body { position: relative; }
body.centerWrap { text-align:center }
div.centerWrap { width: 950px; margin: 0 auto; position: relative; text-align:left }

.uDebug { white-space:pre-wrap; background:white; color:black; text-align:left; clear:both; }

.uHidden { width:0 !important;height:0 !important;border:0 !important;padding:0 !important;margin:0 !important;position:absolute !important; }

.left { float:left } .right { float:right } .oh { overflow:hidden }
.cl { clear:left } .cr { clear:right } .cb { clear:both }
.aw { width:auto }

td { vertical-align: top }
tr.odd { background-color: #ddd }

th.sortable { cursor:pointer; }

*:focus { outline: 1px; }

.ui-helper-clearfix { /* fix for jquery panels extending to the height of adjacent floats */
	overflow: hidden; /* or auto */
	zoom: 1; /* required for ie hasLayout */
}

.btn-edit { margin:0;width:16px;height:16px;padding:2px;background:url(images/edit.png) no-repeat center center white !important; }
.btn-del  { margin:0;width:16px;height:16px;padding:2px;background:url(images/delete.png) no-repeat center center white !important; }

img { border: none }

.ui-icon { display: inline-block !important; }

.uDesaturate {
	filter: url(images/filters.svg#grayscale); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome & Safari 6+ */
}

.icon-document { background: url(images/icon-document.png) left center no-repeat; height:32px; padding-left:36px; display: inline-block; vertical-align:top; }
.icon-document-download { background: url(images/icon-document-download.png) left center no-repeat; height:32px; padding-left:36px; display: inline-block; vertical-align:top; }
.icon-document-view { background: url(images/icon-document-view.png) left center no-repeat; height:32px; padding-left:36px; display: inline-block; vertical-align:top; }
.icon-document-delete { background: url(images/icon-document-delete.png) left center no-repeat; height:32px; padding-left:36px; display: inline-block; vertical-align:top; }
.icon-document-upload { background: url(images/icon-document-upload.png) left center no-repeat; height:32px; padding-left:36px; display: inline-block; vertical-align:top; position:relative; overflow:hidden; }
.icon-document-upload input, .icon-document-upload input[type=file] {  overflow:hidden; cursor:pointer; height:32px; width: 100%; border:0; position:absolute; right:0; margin:0; opacity:0; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; filter: alpha(opacity=0); background: transparent; }

.shadeRow { background-color:#e0e0e0; }
.new-ident { background-image:url(images/newrec-ident.gif); background-position:center; background-repeat:no-repeat; width:25px}

ul.pagination { overflow:hidden; padding:0; }
ul.pagination li { list-style:none; float:left; }

.mr10 { margin-right:10px }
.ml10 { margin-left:10px }

.linklist { padding-left:0 }

.linklist LI {
	list-style:none;
	display:inline;
}

.layoutListSection .linklist { margin-right:5px }
.layoutListSection .linklist,.layoutListSection .linklist-link {
	list-style: none;
	display: inline;
}
.layoutListSection div.pagination { white-space:nowrap; }
.layoutListSection ul.pagination { float:left; margin:0 10px 0 0; overflow:visible }
.layoutListSection td.uFilters { text-align:right; padding: 10px 0; }
.layoutListSection td.uFilters .uGlobalSearch { float:left; }
/*.layoutListSection .uLimit { width: 3em}*/

.layoutListSection th {
	vertical-align:top; padding:.5em 1em;
}
.layoutListSection td { vertical-align:middle; padding:4px; }
.layoutDetailSection,.layoutListSection {
	/*margin: 10px;*/
	padding: 5px;
	vertical-align: top;
	text-align: left;
	font-weight: normal;
	font-size: 1em;
}

.layoutDetailSection tr th {
	font-size: 1.1em;
	color: #FFFFFF;
	padding-left: 5px;
	height: 15px;
	background-color: #FF9933;
	background-repeat: repeat-x;
}

.layoutDetailSection td.fld { width:8em; padding-right:10px; font-weight:normal; text-align:right; vertical-align:middle }

.inputtype.inputtype-checkboxlist { height:6em; overflow:auto; display:inline-block; resize:both; }
.inputtype.inputtype-checkboxlist label { display:block; margin-right: 20px; white-space: nowrap; }
.inputtype.inputtype-checkboxlist .inputtype.inputtype-checkbox { float:none; padding:0; margin-right:5px; height:auto; line-height:normal; }
.inputtype.inputtype-textarea { height:6em; line-height:normal; }

.inputtype.inputtype-checkbox, .inputtype-checkboxlist .inputtype.inputtype-checkbox,
.inputtype.inputtype-radio,
.inputtype.inputtype-button,
.inputtype.inputtype-submit,
.inputtype.inputtype-reset { min-width:0; width:auto; height:auto; }



.inputtype.inputtype-checkbox { min-width:0; width:auto; background:none; border:0; }


.red {
	color: #f00
}

.uSearch .searchResult a { padding-bottom: 5px; font-size:1.1em }
.uSearch .searchResult { margin-bottom: 30px; }

.utopia-placeholder { color: #999 !important; }
::-webkit-input-placeholder {
    color:    #999;
}
:-moz-placeholder,
::-moz-placeholder {
    color:    #999;
}
:-ms-input-placeholder {
    color:    #999;
}



.inputtype.inputtype-combo.ui-combobox {
	position: relative;
	display: inline-block; zoom:1;
	padding: 0;
	width: auto !important;
	height: auto !important;
}
.ui-combobox .ui-button.ui-combobox-toggle {
	position: absolute;
	top: 0; bottom: 0; right:0; height:auto; width:31px;
	padding: 0;	margin:0;
	border-top: 0; border-right: 0; border-bottom: 0;
}
.ui-combobox .ui-combobox-input.ui-autocomplete-input {
	display:block;
	margin:0; border:0;
}
.ui-autocomplete.ui-menu {
	overflow-x: hidden;
	overflow-y: scroll;
	max-height: 200px;
	white-space: nowrap;
	z-index:99999999 !important;
}
