body { position: relative; }
body.centerWrap { text-align:center }
div.centerWrap { width: 950px; margin: 0 auto; position: relative; text-align:left }

input, select, textarea { margin:2px; }

.left { float:left } .right { float:right } .oh { overflow:hidden }
.cl { clear:left } .cr { clear:right } .cb { clear:both }
.aw { width:auto }

td { vertical-align: top }
tr.odd { background-color: #ddd }


th.sortable { cursor:pointer; }

*:focus { outline: 1px; }

.btn { margin:1px 3px }
.btn-edit { margin:0;width:16px;height:16px;padding:2px;background:url(images/edit.png) no-repeat center center white !important; }
.btn-del  { margin:0;width:16px;height:16px;padding:2px;background:url(images/delete.png) no-repeat center center white !important; }

img { border: none }

.ui-widget { font-size:0.8em; }
.ui-button .ui-button-text { line-height:normal; }
.ui-tabs { padding:0; }
.ui-tabs-panel { font-size: 1.2em }
.ui-tabs-nav {
	-moz-border-radius-bottomright: 0;
	-webkit-border-bottom-right-radius: 0;
	-khtml-border-bottom-right-radius: 0;
	border-bottom-right-radius: 0;
	-moz-border-radius-bottomleft: 0;
	-webkit-border-bottom-left-radius: 0;
	-khtml-border-bottom-left-radius: 0;
	border-bottom-left-radius: 0;
}

.ui-icon { display: inline-block !important; }

.ui-helper-clearfix:after { }
.ui-helper-clearfix {
        overflow: hidden; /* or auto */
        zoom: 1; /* required for ie hasLayout */
}

.icon-document { background: url(images/document-icon.png) left center no-repeat; min-height:32px; padding-left:36px; display: inline-block;}

.shadeRow { background-color:#e0e0e0; }
.new-ident { background-image:url(images/newrec-ident.gif); background-position:center; background-repeat:no-repeat; width:25px}

ul.pagination { overflow:hidden; padding:0; }
ul.pagination li { list-style:none; float:left; }

.mr10 { margin-right:10px }
.ml10 { margin-left:10px }

.linklist { padding-left:0 }

.linklist LI {
	list-style:none;
	display:inline;
}

.layoutListSection .linklist { margin-right:5px }
.layoutListSection .linklist,.layoutListSection .linklist-link {
	list-style: none;
	display: inline;
}
.layoutListSection ul.pagination { float:left; margin:0 10px 0 0;}
.layoutListSection .uLimit { width: 3em}

.layoutListSection th {
	vertical-align:top; padding:.5em 1em;
}
.layoutListSection td { vertical-align:middle; padding:4px; }
.layoutListSection tr.ui-widget-header { font-weight:normal; background-image:none; }
.layoutDetailSection,.layoutListSection {
	/*margin: 10px;*/
	padding: 5px;
	vertical-align: top;
	text-align: left;
	font-weight: normal;
	font-size: 1em;
}

.layoutDetailSection tr th {
	font-size: 1.1em !important;
	color: #FFFFFF;
	padding-left: 5px;
	height: 15px;
	background-color: #FF9933;
	background-repeat: repeat-x;
}

.layoutDetailSection td.fld { width:90px; padding-right:10px; font-weight:normal; text-align:right; vertical-align:middle }

.inputtype-checkboxlist { height:6em; overflow:auto; display:inline-block; resize:both; }
.inputtype-checkboxlist label { display:block; margin-right: 20px; white-space: nowrap; }
.inputtype-checkboxlist .inputtype.inputtype-checkbox { float:none; padding:0; margin-right:5px; height:auto; line-height:normal; }
.inputtype-textarea { height:6em; line-height:normal; }

.inputtype.inputtype-radio { min-width:0; width:auto; height:auto; }
.inputtype.inputtype-button { min-width:0; width:auto; height:auto; }
.inputtype.inputtype-submit { min-width:0; width:auto; height:auto; }
.inputtype.inputtype-reset { min-width:0; width:auto; height:auto; }


.inputtype.inputtype-checkbox { min-width:0; width:auto; background:none; border:0; }


.red {
	color: #f00
}

.uSearch .searchResult a { padding-bottom: 5px; font-size:1.1em }
.uSearch .searchResult { margin-bottom: 30px; }

.utopia-placeholder { color: #AAA; }



.ui-combobox {
	position: relative;
	display: inline-block;
	padding: 0 !important;
	border: 1px solid #aaa; background:white; color:#362B36;
	width: auto !important;
}
.ui-combobox .ui-button.ui-combobox-toggle {
	position: absolute;
	top: 0; bottom: 0; right:0; height:auto; width:31px;
	padding: 0;	margin:0;
	border-top: 0; border-right: 0; border-bottom: 0;
}
.ui-combobox .ui-combobox-input.ui-autocomplete-input {
	display:block;
	margin:0; border:0; background:transparent;
	width:100%;
}
.ui-autocomplete.ui-menu {
	overflow-x: hidden;
	overflow-y: scroll;
	max-height: 200px;
	white-space: nowrap;
	z-index:99999999 !important;
}
