body { position: relative; }
body.centerWrap { text-align:center }
div.centerWrap { width: 950px; margin: 0 auto; position: relative; text-align:left }

.uDebug { white-space:pre-wrap; background:white; color:black; text-align:left; clear:both; }

.uHidden { width:0 !important;height:0 !important;border:0 !important;padding:0 !important;margin:0 !important;position:absolute !important; }

.left { float:left } .right { float:right } .oh { overflow:hidden }
.cl { clear:left } .cr { clear:right } .cb { clear:both }
.aw { width:auto }

td { vertical-align: top }
tr.odd { background-color: #ddd }

th.sortable { cursor:pointer; }

*:focus { outline: 1px; }

.ui-helper-clearfix { /* fix for jquery panels extending to the height of adjacent floats */
	overflow: hidden; /* or auto */
	zoom: 1; /* required for ie hasLayout */
}


.btn {
  display: inline-block;
  *display: inline;
  padding: 4px 12px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  cursor: pointer;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  *border: 0;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  color: #333333;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}

.btn:active,
.btn.active {
  background-color: #cccccc \9;
}

.btn:first-child {
  *margin-left: 0;
}

.btn:hover,
.btn:focus {
  color: #333333;
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;
}

.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn.active,
.btn:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn.disabled,
.btn[disabled] {
  cursor: default;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.btn.btn-green {
	color: #FFFFFF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #63991C;
	*background-color: #63991C;
	background-image: -moz-linear-gradient(top, #8CC63F, #63991C);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#8CC63F), to(#63991C));
	background-image: -webkit-linear-gradient(top, #8CC63F, #63991C);
	background-image: -o-linear-gradient(top, #8CC63F, #63991C);
	background-image: linear-gradient(to bottom, #8CC63F, #63991C);
	background-repeat: repeat-x;
	border-color: #63991C;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8CC63F', endColorstr='#63991C', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn.btn-green:hover,
.btn.btn-green:active,
.btn.btn-green.active,
.btn.btn-green.disabled,
.btn.btn-green[disabled] {
	color: #FFFFFF;
	background-color: #63991C;
	*background-color: #003bb3;
}


.btn-edit { margin:0;width:16px;height:16px;padding:2px;background-image:url(images/edit.png);background-repeat:no-repeat;background-position:center !important; }
.btn-del  { margin:0;width:16px;height:16px;padding:2px;background-image:url(images/delete.png);background-repeat:no-repeat;background-position:center !important; }




img { border: none }

.ui-icon { display: inline-block !important; }

.uDesaturate {
	filter: url(images/filters.svg#grayscale); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome & Safari 6+ */
}

.icon-document { background: url(images/icon-document.png) left center no-repeat; height:32px; padding-left:36px; display: inline-block; vertical-align:top; }
.icon-document-download { background: url(images/icon-document-download.png) left center no-repeat; height:32px; padding-left:36px; display: inline-block; vertical-align:top; }
.icon-document-view { background: url(images/icon-document-view.png) left center no-repeat; height:32px; padding-left:36px; display: inline-block; vertical-align:top; }
.icon-document-delete { background: url(images/icon-document-delete.png) left center no-repeat; height:32px; padding-left:36px; display: inline-block; vertical-align:top; }
.icon-document-upload { background: url(images/icon-document-upload.png) left center no-repeat; height:32px; padding-left:36px; display: inline-block; vertical-align:top; position:relative; overflow:hidden; }
.icon-document-upload input, .icon-document-upload input[type=file] {  overflow:hidden; cursor:pointer; height:32px; width: 100%; border:0; position:absolute; right:0; margin:0; opacity:0; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; filter: alpha(opacity=0); background: transparent; }

.shadeRow { background-color:#e0e0e0; }
.new-ident { background-image:url(images/newrec-ident.gif); background-position:center; background-repeat:no-repeat; width:25px}

ul.pagination { overflow:hidden; padding:0; }
ul.pagination li { list-style:none; float:left; margin:0 2px; }

.mr10 { margin-right:10px }
.ml10 { margin-left:10px }

.linklist { padding-left:0 }

.linklist LI {
	list-style:none;
	display:inline;
}

.layoutListSection .linklist { margin-right:5px }
.layoutListSection .linklist,.layoutListSection .linklist-link {
	list-style: none;
	display: inline;
}
.layoutListSection div.pagination { white-space:nowrap; }
.layoutListSection ul.pagination { float:left; margin:0 10px 0 0; overflow:visible }
.layoutListSection td.uFilters { text-align:right; padding: 10px 0; }
.layoutListSection td.uFilters .uGlobalSearch { float:left; }
/*.layoutListSection .uLimit { width: 3em}*/

.layoutListSection th {
	vertical-align:top; padding:.5em 1em;
}
.layoutListSection td { vertical-align:middle; padding:4px; }
.layoutListSection thead td { padding:0; }
.layoutDetailSection,.layoutListSection {
	/*margin: 10px;*/
	padding: 5px;
	vertical-align: top;
	text-align: left;
	font-weight: normal;
	font-size: 1em;
}

.layoutDetailSection tr th {
	font-size: 1.1em;
	color: #FFFFFF;
	padding-left: 5px;
	height: 15px;
	background-color: #FF9933;
	background-repeat: repeat-x;
}

.layoutDetailSection td.fld { width:8em; padding-right:10px; font-weight:normal; text-align:right; vertical-align:middle }

.inputtype { margin:0 }
.inputtype.inputtype-checkboxlist { height:6em; overflow:auto; display:inline-block; resize:both; }
.inputtype.inputtype-checkboxlist label { display:block; margin-right: 20px; white-space: nowrap; }
.inputtype.inputtype-checkboxlist .inputtype.inputtype-checkbox { float:none; padding:0; margin-right:5px; height:auto; line-height:normal; }
.inputtype.inputtype-textarea { height:6em; line-height:normal; }

.inputtype.inputtype-checkbox, .inputtype-checkboxlist .inputtype.inputtype-checkbox,
.inputtype.inputtype-radio,
.inputtype.inputtype-button,
.inputtype.inputtype-submit,
.inputtype.inputtype-reset { min-width:0; width:auto; height:auto; }



input.inputtype.inputtype-checkbox { min-width:0; width:auto; height:auto; background:none; border:0; }


.red {
	color: #f00
}

.uSearch .searchResult a { padding-bottom: 5px; font-size:1.1em }
.uSearch .searchResult { margin-bottom: 30px; }

.utopia-placeholder { color: #999 !important; }
::-webkit-input-placeholder {
    color:    #999;
}
:-moz-placeholder,
::-moz-placeholder {
    color:    #999;
}
:-ms-input-placeholder {
    color:    #999;
}



.inputtype.inputtype-combo.ui-combobox {
	position: relative;
	display: inline-block; zoom:1;
	padding: 0;
	width: auto;
	height: auto;
	overflow:hidden;
}
.ui-combobox a.ui-combobox-toggle {
	position: absolute;
	top: 0; bottom: 0; right:0; height:auto; width:31px;
	padding: 0;	margin:0;
	border-top: 0; border-right: 0; border-bottom: 0;
	border-radius:0;
}
.ui-combobox a.ui-combobox-toggle span.ui-icon {
	position: absolute;
	top: 50%; margin-top: -8px; 
	left: 50%; margin-left: -8px;
}
.ui-combobox .ui-combobox-input.ui-autocomplete-input {
	display:block;
	margin:0; border:0;
}
.ui-autocomplete.ui-menu {
	overflow-x: hidden;
	overflow-y: scroll;
	max-height: 200px;
	white-space: nowrap;
	z-index:99999999 !important;
}
