body.centerWrap { text-align:center }
div.centerWrap { width: 950px; margin: 0 auto; position: relative; text-align:left }

input, select, textarea { margin:2px;
	box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
}

.left { float:left } .right { float:right } .oh { overflow:hidden }
.cl { clear:left } .cr { clear:right } .cb { clear:both }
.aw { width:auto }

td { vertical-align: top }

th.sortable { cursor:pointer; }

.utopia-filter-default { color: #AAA; }
*:focus { outline: 1px; }

.btn { margin:1px 3px }
.btn-edit { margin:0;width:16px;height:16px;padding:2px;background:url(images/edit.png) no-repeat center center white !important; }
.btn-del  { margin:0;width:16px;height:16px;padding:2px;background:url(images/delete.png) no-repeat center center white !important; }

img { border: none }

.ui-widget { font-size:0.8em !important; }
.ui-tabs-panel { font-size: 1.2em }
.ui-button .ui-button-text { line-height:normal; }

.ui-icon { display: inline-block !important; }

.ui-helper-clearfix:after { }
.ui-helper-clearfix {
        overflow: hidden; /* or auto */
        zoom: 1; /* required for ie hasLayout */
}

.shadeRow { background-color:#e0e0e0; }
.new-ident { background-image:url(images/newrec-ident.gif); background-position:center; background-repeat:no-repeat; width:25px}

ul.pagination { overflow:hidden; padding:0; }
ul.pagination li { list-style:none; float:left; }

.mr10 { margin-right:10px }
.ml10 { margin-left:10px }

.linklist { padding-left:0 }

.linklist LI {
	list-style:none;
	display:inline;
}

.layoutListSection .linklist { margin-right:5px }
.layoutListSection .linklist,.layoutListSection .linklist-link {
	list-style: none;
	display: inline;
}
.layoutListSection ul.pagination { float:left; margin:0 10px 0 0;}
.layoutListSection .uLimit { width: 3em}

.layoutListSection th {
	vertical-align:top; padding:.5em 1em;
}
.layoutListSection td { vertical-align:middle; padding:4px; }
.layoutListSection tr.ui-widget-header { font-weight:normal; background-image:none; }
.layoutDetailSection,.layoutListSection {
	/*margin: 10px;*/
	padding: 5px;
	vertical-align: top;
	text-align: left;
	font-family: Arial, sans-serif;
	font-weight: normal;
	font-size: 1em;
}

.layoutDetailSection tr th {
	font-size: 1.1em !important;
	color: #FFFFFF;
	padding-left: 5px;
	height: 15px;
	background-color: #FF9933;
	background-repeat: repeat-x;
}

.layoutDetailSection td.fld { white-space:nowrap; width:1px; padding-right:10px; font-weight:normal; text-align:right; vertical-align:middle }

.layoutDetailSection .inputtype { min-width: 25em; width: 30%; }
.layoutDetailSection .inputtype.inputtype-richtext { width: 80%; }
.layoutDetailSection .inputtype.inputtype-checkbox { min-width:0; width:auto; }
.layoutDetailSection .inputtype.inputtype-radio { min-width:0; width:auto; }
.layoutDetailSection .inputtype.inputtype-button { min-width:0; width:auto; }
.layoutDetailSection .inputtype.inputtype-submit { min-width:0; width:auto; }
.layoutDetailSection .inputtype.inputtype-reset { min-width:0; width:auto; }

.red {
	color: #f00
}

.uSearch .searchResult a { padding-bottom: 5px; font-size:1.1em }
.uSearch .searchResult { margin-bottom: 30px; }
