body.centerWrap {width:100%; text-align:center}
div.centerWrap {width: 950px; margin: 0 auto; position: relative; text-align:left }

.datalist th { vertical-align: top; background-color:#DDDDDD; border: 1px solid #BBBBBB; padding: 2px 5px;
  border-radius: 15px 15px 0px 0px; -moz-border-radius: 15px 15px 0px 0px; -webkit-border-bottom-right-radius: 0px; -webkit-border-bottom-left-radius: 0px; }
.datalist th .uFilter { float:left; margin:2px;}
td { vertical-align: top }

th.sortable { cursor:pointer; }

.mceContentBody  { background-color: white; border:4px solid transparent; padding:10px; margin:0; background-image:none; overflow:auto; } /* remove opacity */
.utopia-filter-default { color: #AAA; }
*:focus { outline: 1px; }

.btn-edit { margin:0;width:16px;height:16px;padding:2px;background:url(images/edit.png) no-repeat center center white !important; }
.btn-del  { margin:0;width:16px;height:16px;padding:2px;background:url(images/delete.png) no-repeat center center white !important; }

img { border: none }

.ui-widget { font-size:0.8em }
.ui-tabs-panel { font-size: 1.2em }

.ui-icon { display: inline-block !important; }

.ui-helper-clearfix:after { }
.ui-helper-clearfix {
        overflow: hidden; /* or auto */
        zoom: 1; /* required for ie hasLayout */
}

.shadeRow { background-color:#e0e0e0; }
.new-ident { background-image:url(images/newrec-ident.gif); background-position:center; background-repeat:no-repeat; width:25px}


.linklist { padding-left:0 }

.linklist LI {
	list-style:none;
	display:inline;
}

.layoutListSection .linklist,.layoutListSection .linklist-link {
	list-style: none;
	display: inline;
}

.layoutListSection td { vertical-align:middle }
.layoutDetailSection,.layoutListSection {
	width: 100%;
	/*margin: 10px;*/
	padding: 5px;
	vertical-align: top;
	text-align: left;
	font-family: 'Tahoma', Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 1em;
}

.layoutDetailSection TR TH {
	font-size: 1.1em !important;
	color: #FFFFFF;
	padding-left: 5px;
	height: 15px;
	background-color: #FF9933;
	background-repeat: repeat-x;
}

.layoutDetailSection td.fld { white-space:nowrap; width:1px; padding-right:10px; font-weight:normal; text-align:right; vertical-align:middle }

.red {
	color: #f00
}

.btn.bluebg span {
	background-color: #00f;
	color: #eee;
}

.btn.bluebg:hover span {
	background-color: #66f;
	color: #000;
}

.btn.greenbg span {
	background-color: #339900;
	color: #eee;
}

.btn.greenbg:hover span {
	background-color: #228800;
	color: #000;
}

.btn.redbg span {
	background-color: #f00;
	color: #000;
}

.btn.redbg:hover span {
	background-color: #c00;
	color: #eee;
}

#adminSlave {z-index:100001; position:absolute; top:0; left:0; font-size:14px; white-space:nowrap; text-align:left;
			display:none;background-color:#EFEFEF; border:2px groove #CCCCCC; padding:5px;}
#adminSlave form { margin:0 }
#adminClose {float:right; width:10px; height:10px;font-size:10px; top:2px; right:2px; cursor:pointer; background-image:url('images/utopia-close.png'); }
			
#utopiaImg {z-index:100000; position:absolute; top:0; left:0; background-image:url("images/utopia-systems.png");width:20px;height:20px;margin:2px;}
#utopiaImg:hover {background-image:url("images/utopia-systems-hover.png"); cursor:pointer}
#adminSlave a, #adminSlave a:link, #adminSlave a:visited { color:#996; }
#adminSlave a:hover { color:#774; }
