.admin-bar, .admin-bar * { font-family: Arial; font-size:12px; }
.admin-bar { position:fixed;top:0;left:0; z-index:99999; }
.admin-bar .admin-menu {
	position:relative;
	z-index:99999;
	background-color:#333;
}
.admin-bar .admin-container { display:none; border-right: 1px solid #aaa; }
.admin-bar .admin-menu {
	min-width:400px;
	line-height:25px;
	margin:0; padding:0; overflow:hidden;
	
	z-index:1;
	
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
	background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
	box-shadow:inset 0px 1px 0px 0px #ffffff;
}
.admin-bar .admin-menu li {
	list-style:none;
	font-size:1em;	text-align:left;
	padding:5px 10px 5px 6px; margin:0;
	color: #333;
	height: 30px;
	white-space:nowrap;
}
.admin-bar .admin-menu li.first-item { border-left:0;}
.admin-bar .admin-menu li.toggle {
	cursor: pointer;
	background-image: url(images/dropdown.png);
	background-position: left center;
	background-repeat: no-repeat;
	padding-left:30px;
}
.admin-bar .admin-menu li  {
	line-height:30px;
}

.admin-bar .admin-menu li a { float:left; }
.admin-bar .admin-menu li a, .admin-bar .admin-menu li a:visited, .admin-bar .admin-menu li a:link {
	/*color: #333;*/ text-decoration:none;
}
.admin-bar .admin-menu li span.actions {
	margin-left:15px;
	float:right; box-sizing: border-box
}
.admin-bar .admin-menu .btn { margin-top:0; margin-bottom:0; }
.admin-bar .admin-body {
	background-color:#ccc; color: #333; overflow:hidden;
}
.admin-bar .admin-body-item {
	display:none; margin: 10px;
}

.admin-bar .layoutDetailSection { width:100% }
.admin-bar .inputtype { padding:5px !important; height:auto; line-height:normal; width:100%; box-sizing:border-box; border: 1px solid #ABADB3; margin:3px 0; font-size: 12px; box-shadow: none; border-radius: 0; color:#333; }
.admin-bar .inputtype.inputtype-combo.ui-combobox { width:100% !important; }

.admin-bar .menu_0 {
	background:url("images/adminbar-bg.png") repeat-x;
	border-bottom:1px solid #aaa;
}

.admin-bar .view-site-link { position:absolute; top:0; right:0; }

.admin-bar .btn span.ui-button-text { padding:0; }
.whitebtn span:active { color:#666666; }
.admin-bar .btn, .whitebtn {
	
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
	background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
	
	background-color:#ffffff;
	
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	
	border:1px solid #dcdcdc;
	
	display:inline-block;
	color:#666666;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:7px 7px;
	margin:0;
	text-decoration:none;
	
	text-shadow:0px 1px 0px #ffffff;
}
.admin-bar .btn:hover, .whitebtn:hover {
	
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
	background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
	
	color:#666666;
	background-color:#f6f6f6;
}

.admin-toggle { position:absolute; top:0; right: -30px; width:30px; height:40px; z-index:2; 
	background:url("images/adminbar-bg.png") repeat-x;
	border-bottom:1px solid #aaa;
	border-right:1px solid #aaa;
	
	-moz-border-bottom-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	border-bottom-right-radius:6px;
}
.admin-toggle span { background:url(images/arrow.png) no-repeat center; position:absolute; top:0; bottom:0; left:0; right:0; display:block; }
