@media print {
        .admin-bar { display:none; }
}

.admin-bar, .admin-bar * { font-family: Arial; font-size:12px; }
.admin-bar { position:fixed;top:0;left:0; z-index:99999; }
.admin-bar .admin-menu {
	position:relative;
	z-index:99999;
	background-color:#333;
}
.admin-bar .admin-container { display:none; border-right: 1px solid #aaa; border-bottom: 1px solid #aaa; }
.admin-bar .admin-menu {
	min-width:400px;
	line-height:25px;
	margin:0; padding:0; overflow:hidden;
	
	z-index:1;
	
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
	background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
	box-shadow:inset 0px 1px 0px 0px #ffffff;
}
.admin-bar .admin-menu li {
	list-style:none;
	font-size:1em;	text-align:left;
	padding:5px 10px 5px 6px; margin:0;
	color: #333;
	height: 30px;
	white-space:nowrap;
}
.admin-bar .admin-menu li.first-child { margin-bottom:-1px; }
.admin-bar .admin-menu li.toggle {
	cursor: pointer;
	background-image: url(images/dropdown.png);
	background-position: left center;
	background-repeat: no-repeat;
	padding-left:30px;
}
.admin-bar .admin-menu li  {
	line-height:30px;
}

.admin-bar .admin-menu li a { float:left; }
.admin-bar .admin-menu li a, .admin-bar .admin-menu li a:visited, .admin-bar .admin-menu li a:link {
	/*color: #333;*/ text-decoration:none;
}
.admin-bar .admin-menu li span.actions {
	margin-left:15px;
	float:right; box-sizing: border-box
}
.admin-bar .admin-menu .btn { margin-top:0; margin-bottom:0; }
.admin-bar .admin-body {
	background-color:#ccc; color: #333; overflow:hidden;
}
.admin-bar .admin-body-item {
	display:none; margin: 10px;
}

.admin-bar .layoutDetailSection { width:100% }
.admin-bar .inputtype { padding:5px; height:auto; line-height:normal; width:100%; box-sizing:border-box; border: 1px solid #ABADB3; margin:3px 0; font-size: 12px; box-shadow: none; border-radius: 0; color:#333; }
.admin-bar .inputtype.inputtype-combo.ui-combobox { width:100% }

.admin-bar .first-child {
	background:url("images/adminbar-bg.png") repeat-x;
	border-bottom:1px solid #aaa;
}

.admin-bar .view-site-link { position:absolute; top:0; right:0; }

.admin-toggle { position:absolute; top:0; right: -30px; width:30px; height:40px; z-index:2; 
	background:url("images/adminbar-bg.png") repeat-x;
	border-bottom:1px solid #aaa;
	border-right:1px solid #aaa;
	
	-moz-border-bottom-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	border-bottom-right-radius:6px;
}
.admin-toggle span { background:url(images/arrow.png) no-repeat center; position:absolute; top:0; bottom:0; left:0; right:0; display:block; }


.admin-bar .btn {
  text-transform: none;
  font-weight: normal;
  display: inline-block;
  *display: inline;
  padding: 4px 12px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  *border: 0;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.admin-bar .btn:hover,
.admin-bar .btn:focus,
.admin-bar .btn:active,
.admin-bar .btn.active,
.admin-bar .btn.disabled,
.admin-bar .btn[disabled] {
  color: #333333;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}

.admin-bar .btn:active,
.admin-bar .btn.active {
  background-color: #cccccc \9;
}

.admin-bar .btn:first-child {
  *margin-left: 0;
}

.admin-bar .btn:hover,
.admin-bar .btn:focus {
  color: #333333;
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;
}

.admin-bar .btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.admin-bar .btn.active,
.admin-bar .btn:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.admin-bar .btn.disabled,
.admin-bar .btn[disabled] {
  cursor: default;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}


.admin-bar .btn.btn-green {
	color: #FFFFFF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #63991C;
	*background-color: #63991C;
	background-image: -moz-linear-gradient(top, #8CC63F, #63991C);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#8CC63F), to(#63991C));
	background-image: -webkit-linear-gradient(top, #8CC63F, #63991C);
	background-image: -o-linear-gradient(top, #8CC63F, #63991C);
	background-image: linear-gradient(to bottom, #8CC63F, #63991C);
	background-repeat: repeat-x;
	border-color: #63991C;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8CC63F', endColorstr='#63991C', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.admin-bar .btn.btn-green:hover,
.admin-bar .btn.btn-green:active,
.admin-bar .btn.btn-green.active,
.admin-bar .btn.btn-green.disabled,
.admin-bar .btn.btn-green[disabled] {
	color: #FFFFFF;
	background-color: #63991C;
	*background-color: #003bb3;
}
