.hiddenItem { display:none; }

.cmsTree { list-style-type: none; margin:0; padding:0 }

.cmsItem { margin-top:1px; padding-top:1px; padding-bottom:0; min-height:18px; padding-right:0; min-height:23px; line-height:23px; position:relative; cursor:pointer; clear:both }
.cmsItemText { overflow:hidden; }
.cmsItemText:hover { background-color: #D5E2EA; }
.cmsItemActions { float:right; padding-left:10px; position:relative; }
.cmsItemActions a { background-color:white !important; }

.cmsItem .cmsItem { padding-top:1px; min-height:18px; margin: 1px 0 0 16px; }
