.hiddenItem { color:#999; }

.cmsTree { list-style-type: none; margin:0; padding:0 }

.cmsItem { margin-top:1px; padding-top:1px; padding-bottom:0; min-height:18px; padding-right:0; min-height:23px; line-height:23px; position:relative; cursor:pointer; clear:both; padding-left:16px; }
.cmsItemText { overflow:hidden; }
.cmsItemText:hover { background-color: #D5E2EA; }
.cmsItemActions { float:right; padding-left:10px; position:relative; }
.cmsItemActions a { background-color:white !important; }

.cmsItem.ui-treesort-folder { padding-left:0; }
.cmsItem .cmsItem { padding-top:1px; min-height:18px; margin: 1px 0 0 16px; }

.admin-bar .admin-menu .mceToolbarContainer { display: block; border-left:0; clear:both; padding:0; width:100%;}
.admin-bar .mceExternalToolbar {
	float:left;
	position:relative !important;
	width:100%;
	top:0 !important;
	z-index:1;
}
.admin-bar .mceExternalToolbar table {
	width:100%;
}
.admin-bar .mceExternalToolbar .mceToolbar {
	float:left; width:auto; margin-right:20px;
}
.admin-bar .mceExternalClose {
  display:none !important;
}
