.hiddenItem a.cmsItemLink { color:#999; }

.cmsTree { list-style-type: none; margin:0; padding:0 }

.cmsItem { margin-top:1px; padding:1px 0 0 16px; position:relative; cursor:pointer; }
.cmsItemText { overflow:hidden; }
.cmsItemText:hover { background-color: #D5E2EA; }
.cmsItemText a.cmsItemLink { display:block; padding:3px 0 3px 3px; }
.cmsItemText a.cmsItemLink:hover { color:black; }
.cmsItemActions { float:right; padding-left:10px; position:relative; }
.cmsItemActions a { background-color:white !important; }
.cmsItemLink .ui-icon { vertical-align:bottom; margin-left:3px; }


.cmsItem .cmsItem { padding-top:1px; min-height:18px; }
.cmsItem .cmsParentToggle { margin-left:-16px }

.admin-bar .admin-menu .mceToolbarContainer { display: block; border-left:0; clear:both; padding:0; width:100%; line-height:0; }
.admin-bar .mceExternalToolbar {
	float:left;
	position:relative !important;
	width:100%;
	top:0 !important;
	z-index:1;
}
.admin-bar .mceExternalToolbar { line-height: 50px; }
.admin-bar .mceExternalToolbar table {
	width:100%; display:block; float:left;
}
.admin-bar .mceExternalToolbar tbody {
	width:100%; display:block; float:left;
}
.admin-bar .mceExternalToolbar tr {
	width:100%; display:block; float:left;
}
.admin-bar .mceExternalToolbar .mceToolbar {
	float:left; width:auto; margin-right:20px;
}
.admin-bar .mceExternalToolbar td.mceToolbar {
	width:100%; height:auto;
}
.admin-bar .mceExternalToolbar table.mceToolbar  {
	height:30px;
}
.admin-bar .mceExternalClose {
  display:none !important;
}
