.mceContentBody { background:transparent none; border:0; padding:0; margin:0; overflow:auto; }

.mceEditor.defaultSkin table.mceLayout { border: 0; }
.mceEditor.defaultSkin table.mceLayout .mceIframeContainer { border:none }
