.login-wrap .form-field, .register-wrap .form-field { margin-bottom:15px; }
.login-wrap .form-field input, .register-wrap .form-field input { width:100%; margin:5px 0; box-sizing:border-box; }
.login-wrap, .register-wrap { display:inline-block; vertical-align: top; }
.login-wrap .forgotten-password { float:right; clear:both; margin-top:10px; }