@font-face {
  font-family: 'ucore-symbols';
  src: url('../font/ucore-symbols.eot?59892070');
  src: url('../font/ucore-symbols.eot?59892070#iefix') format('embedded-opentype'),
       url('../font/ucore-symbols.woff?59892070') format('woff'),
       url('../font/ucore-symbols.ttf?59892070') format('truetype'),
       url('../font/ucore-symbols.svg?59892070#ucore-symbols') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'ucore-symbols';
    src: url('../font/ucore-symbols.svg?59892070#ucore-symbols') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "ucore-symbols";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-plus:before { content: '\e816'; } /* '' */
.icon-home:before { content: '\e80a'; } /* '' */
.icon-up-dir:before { content: '\e825'; } /* '' */
.icon-right-dir:before { content: '\e827'; } /* '' */
.icon-down-dir:before { content: '\e824'; } /* '' */
.icon-left-dir:before { content: '\e826'; } /* '' */
.icon-cog-1:before { content: '\e812'; } /* '' */
.icon-cog:before { content: '\e806'; } /* '' */
.icon-attention:before { content: '\e80b'; } /* '' */
.icon-mail:before { content: '\e820'; } /* '' */
.icon-feather:before { content: '\e80d'; } /* '' */
.icon-cancel:before { content: '\e803'; } /* '' */
.icon-list-add:before { content: '\e81c'; } /* '' */
.icon-off:before { content: '\e821'; } /* '' */
.icon-record-outline:before { content: '\e819'; } /* '' */
.icon-inbox:before { content: '\e822'; } /* '' */
.icon-menu:before { content: '\e828'; } /* '' */
.icon-user-add:before { content: '\e807'; } /* '' */
.icon-eye:before { content: '\e81e'; } /* '' */
.icon-print:before { content: '\e802'; } /* '' */
.icon-publish:before { content: '\e813'; } /* '' */
.icon-window:before { content: '\e81a'; } /* '' */
.icon-paper-plane:before { content: '\e81b'; } /* '' */
.icon-gauge-1:before { content: '\e810'; } /* '' */
.icon-download:before { content: '\e817'; } /* '' */
.icon-sitemap:before { content: '\e801'; } /* '' */
.icon-fork:before { content: '\e818'; } /* '' */
.icon-puzzle:before { content: '\e80c'; } /* '' */
.icon-sweden:before { content: '\e81d'; } /* '' */
.icon-picture:before { content: '\e804'; } /* '' */
.icon-globe:before { content: '\e80f'; } /* '' */
.icon-graduation-cap:before { content: '\e814'; } /* '' */
.icon-award:before { content: '\e823'; } /* '' */
.icon-user:before { content: '\e809'; } /* '' */
.icon-users:before { content: '\e808'; } /* '' */
.icon-briefcase:before { content: '\e811'; } /* '' */
.icon-doc-text:before { content: '\e80e'; } /* '' */
.icon-chart-line:before { content: '\e815'; } /* '' */
.icon-megaphone:before { content: '\e800'; } /* '' */
.icon-search:before { content: '\e81f'; } /* '' */
.icon-wrench:before { content: '\e805'; } /* '' */