/*
 green: #8CC63F
*/

body { text-align:left !important; text-align:center; margin:0; font-family: Arial; font-size:12px; }
#wrap { width:100%; margin:0 auto; text-align:left; background:white; }

a, a:link, a:visited { color: #333; text-decoration:none }
a:hover { color: #8CC63F }

#header { background: url(images/header-grad-bg.gif) top center repeat-x #F0F0F0; }
#innerheader { min-height:98px; height: auto !important; height: 98px; position:relative;
	background:url(images/top-swoosh.gif) top left no-repeat; border-bottom:1px solid #8CC63F;
}
#logo { height:47px; width:130px; background:url(images/ucore.gif) no-repeat center center; display:block; position:absolute; top:25px; left:50px; }

#quicklinks { position:absolute; top:6px; left:40px }
#quicklinks a { color:#8CC63F; }

#nav { position:relative; width:200px; float:left }
#nav ul { list-style:none; padding:0; margin:0;}
#nav ul ul { padding-left: 5px; list-style:circle inside; }
#nav li { padding-left:10px; }
#nav li a { text-decoration:none; font-size:1.2em; padding:3px 5px 3px 5px; line-height:1.6em; display:block; }
#nav li a:hover, #nav li a:focus { background-color: #EEE; }
#nav li.active-link a, #nav li.active-link-parent a { color: #8CC63F; font-weight:bold }

#contentWrap { position:relative; margin:10px; }
#content { margin-left:200px; border-left:1px solid #8CC63F; padding-left:15px }

#footer { background:url(images/bottom-swoosh.gif) bottom center no-repeat; height:97px; }


.uWidgetPlaceholder {
	background-color:#ccc;
	border: 1px solid #999;
	border-radius: 10px;
	padding: 5px;
}

.uWidgetPlaceholder div.uWidgetHeader {
	margin:0; padding:0; border-bottom: solid 1px #999; font-size:1.2em; font-weight:bold;
}
