/*
 green: #8CC63F
*/

body { text-align:left !important; text-align:center; margin:0; font-family: Arial; font-size:12px; }
#wrap { width:100%; margin:0 auto; text-align:left; background:white; }

a, a:link, a:visited { color: #333; text-decoration:none }
a:hover { color: #8CC63F }
a.ui-state-hover:hover { color: #333; }

#header { background: url(images/header-grad-bg.gif) top center repeat-x #F0F0F0; }
#innerheader { min-height:98px; height: auto !important; height: 98px; position:relative;
	background:url(images/top-swoosh.gif) top left no-repeat; border-bottom:1px solid #8CC63F;
}
#logo { height:47px; width:130px; background:url(images/ucore.gif) no-repeat center center; display:block; position:absolute; top:25px; left:50px; }

#quicklinks { position:absolute; top:6px; left:40px }
#quicklinks a { color:#8CC63F; }

#nav { position:absolute; left:0; width:200px; float:left; border-right:1px solid #8CC63F; }
#nav ul { list-style:none; padding:0; margin:0; }
#nav li a { text-decoration:none; font-size:1.2em; padding:3px 5px 3px 10px; line-height:1.6em; display:block;
	border-top-left-radius: 15px; border-bottom-left-radius: 15px; border: 1px solid white; border-right:none;
}
#nav li.active-link a, #nav li.active-link-parent a { color: #8CC63F; font-weight:bold;
	background-color:#6d6f71; border-color:#6d6f71;
}
#nav li ul { padding-left: 15px; display:none; }
/*#nav li:hover ul,*/
 #nav li.active-link ul, #nav li.active-link-parent ul { display:block; }
#nav li ul { border:1px solid #ccc; background-color:#f6f6f6; margin-left:20px; padding-left:0; }
#nav li ul li a { border-radius:0; line-height:1.3em; padding-left:5px; }
#nav li.active-link li a { background:transparent; border:1px transparent solid; }
/*#nav li ul li a:hover { border-radius:0; line-height:1.3em; background-color:#eee; }*/
#nav li ul li.active-link a { background-color:#dcdcdc; border:1px transparent solid; }

#nav li a:hover, #nav li a:focus, #nav li.active-link a:hover, #nav li.active-link a:focus { background-color: #F6F6F6; border-color: #DDD; }

#contentWrap { position:relative; margin:10px; }
#content {
	margin-left:200px !important;
	margin-left:197px; height:1%; /* collapse divider bar : 3 pixel jog */
	border-left:1px solid #8CC63F; padding-left:15px;
}

#footer { background:url(images/bottom-swoosh.gif) bottom center no-repeat; height:97px; }

.uWidgetPlaceholder {
	background-color:#ccc;
	border: 1px solid #999;
	border-radius: 10px;
	padding: 5px;
}

.uWidgetPlaceholder div.uWidgetHeader {
	margin:0; padding:0; border-bottom: solid 1px #999; font-size:1.2em; font-weight:bold;
}


input, select, textarea { margin:2px; }

.inputtype { margin: 2px; padding:4px; border: 1px solid #aaa; background:white; color:#362B36; height:14px; line-height:14px; font-size:14px; }
.layoutDetailSection .inputtype { width:300px; }
.layoutDetailSection .inputtype.inputtype-checkbox { min-width:0; width:auto; height:auto; }

.inputtype-button, .inputtype-reset, .inputtype-submit, .btn { padding:0; }
.inputtype-file, .inputtype-combo { padding:0; height:24px; }

.inputtype.inputtype-combo.ui-combobox {
	border: 1px solid #aaa; background:white; color:#362B36;
}

.ui-button, #nav li, #nav li a, #nav li ul {
	transition: 0.15s;
	-moz-transition: 0.15s; /* Firefox 4 */
	-webkit-transition: 0.15s; /* Safari and Chrome */
	-o-transition: 0.15s; /* Opera */
}
